@import "tailwindcss";

@theme {
  --font-sans: 'Host Grotesk', sans-serif;
  --font-mono: 'Space Mono', monospace;

  /* Colores Personalizados (colors.mono) */
  /* Nota: Usamos la convención --color-<nombre>-<escala> para los colores */
  --color-mono-50: #ffffff; /* Blanco puro */
  --color-mono-100: #fbfbfb;
  --color-mono-200: #f5f5f5;
  --color-mono-300: #eeeeee;
  --color-mono-400: #dddddd;

  /* Tonos oscuros (500 - 950) se convierten en grises medios a oscuros */
  --color-mono-500: #c1c1c1; 
  --color-mono-600: #9e9e9e; 
  --color-mono-700: #7a7a7a; 
  --color-mono-800: #575757; 
  --color-mono-900: #333333; /* El color más oscuro ahora es un gris fuerte */
  --color-mono-950: #1a1a1a;

  /* Keyframes Personalizados (keyframes) */
  /* Se definen fuera del @theme, pero lo incluimos para que el código sea completo */
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  /* Animaciones Personalizadas (animation) */
  --animate-glitch: glitch 2s steps(100) infinite;
  --animate-blink: blink 1s step-end infinite;
}

button, a {
  text-transform: uppercase;
}