---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baruch Cerna">
  <Section bgColor="red">
    <div class="header-container">
      <h1 class="enter">Baruch Cerna</h1>
    </div>
    <div class="header-container">
      <h2 class="enter">
        I'm <span id="your">a</span> Web Developer based in Mexico
      </h2>
    </div>

    <p>
      I'm looking for project opportunities and I'm always open to new
      challenges. If you're interested in working with me, feel free to reach
      out!
    </p>
  </Section>
  <Section bgColor="green" />
  <Section bgColor="blue" />
</Layout>

<style>
  .header-container {
    overflow: hidden;
  }

  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  p {
    font-size: 2rem;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  @media screen and (max-width: 575px) {
    main,
    section {
      padding: 2rem;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>