<footer>
    <p>
        Hecho con ❤️ y <a href="https://astro.build" target="_blank">Astro</a>
        por
        <a href="https://github.com/baruch-cerna" target="_blank"
            >Baruch Cerna</a
        >
    </p>
</footer>
