---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const languageNames = Object.keys(languages);
---

<nav
  class="fixed top-0 w-full z-50 border-b border-white/10 bg-black/80 backdrop-blur-md"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-white animate-pulse"></div>
        <span class="font-mono font-bold text-lg tracking-tighter text-white"
          >BARUCH_CERNA<span class="text-gray-500">.dev</span></span
        >
      </div>
      <div class="hidden md:block">
        <div
          class="flex items-baseline space-x-8 font-mono text-xs tracking-widest text-gray-400"
        >
          <a href="#logic" class="hover:text-white transition-colors uppercase"
            >[ {t("nav.link_logic")} ]</a
          >
          <a href="#stack" class="hover:text-white transition-colors uppercase"
            >[ {t("nav.link_stack")} ]</a
          >
          <a
            href="#projects"
            class="hover:text-white transition-colors uppercase"
            >[ {t("nav.link_build")} ]</a
          >
        </div>
      </div>
      <!-- Interaction Hint -->
      <div
        class="hidden md:flex items-center gap-2 text-[12pt] font-mono text-gray-500 px-2 py-1"
      >
        {
          languageNames.map((l) => {
            return (
              <a
                class={`px-2 py-1 uppercase ${l == lang ? "bg-[#e5e5e5] text-[#050505]" : ""}`}
                href={`/${l}`}
              >
                {l}
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</nav>
