---
import Logo from "../../public/media/logo_blanco.svg";
---

<nav>
    <div>
      <img src={Logo.src} alt="Logo">
    </div>
    <div>
      <a href="#projects">Projects</a>
      <a href="#tools">Tools</a>
    </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100dvw
  }
</style>