---
import { addAttributesToInnerHTMLString } from "../data/utils";
import Logo from "/public/media/logo_blanco.svg?raw";

const innerHTML = addAttributesToInnerHTMLString(Logo, {class: "logo-svg"});
---

<nav>
    <a href="/" class="logo">
      <Fragment set:html={innerHTML}>
    </a>
    <div class="links">
      <!-- <a href="#projects">Projects</a> -->
      <!-- <a href="#tools">Tools</a> -->
    </div>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    width: 100dvw;
    font-size: 2rem;
  }  

  .logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    width: auto;
    text-decoration: none;

    & > p {
      font-size: 3rem;
      color: rgb(var(--accent-light));
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
      padding: 2rem;
      gap: 1rem;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  @media screen and (max-width: 575px) {
    nav {
      padding: 1rem;
    }

    .logo {
      & > p {
        font-size: 2rem;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;

      & > a {
        font-size: 1.5rem;
      }
    }
  }
  
</style>