---
interface Props {
  align?: "left" | "center" | "right";
}
const { align = "left" } = Astro.props;
---

<section>
  <div class={`container align-${align}`}>
    <slot />
  </div>
</section>
<style>
  section {
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
    gap: 1rem;
  }
  .align-left {
    justify-content: flex-start;
  }
  .align-center {
    justify-content: center;
  }
  .align-right {
    justify-content: flex-end;
  }
</style>
