---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<li class="tool">
  <h3>
    {title}
  </h3>
  <p>
    {body}
  </p>
</li>
<style>
  .tool {
    display: block;
    list-style: none;
    padding: 2rem 1rem;
    width: calc((100% - 2rem) / 3);
    transform: scale(0.7);
    transition: all 0.2s ease-in;
  }

  .tool:is(:hover, :focus-within) {
    background-color: rgba(var(--accent), 0.7);
  }

  .tool:is(:hover, :focus-within) h3 {
    color: rgb(var(--accent-light));
  }

  .tool:is(:hover, :focus-within) p {
    color: rgb(var(--accent-light));
  }

  @media screen and (max-width: 1024px) {
    .tool {
      width: calc((100% - 1rem) / 2);
    }
  }

  @media screen and (max-width: 575px) {
    .tool {
      width: 100%;
      background-color: rgba(var(--accent), 0.7);
    }
  }
</style>
